#navbar {
	overflow: hidden;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: right;
	display: inline-block;
	padding: 5px;
	background-color: #dddddd;
}

#blank {
	clear: right;
}

#logo {
	margin-top: 150px;
	text-align: center;
	border: solid 1px black;
}

#form {
	margin-top: 30px;
	text-align: center;
}

#buttons {
	margin-top: 30px;
}